@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.left img{
    width: 110px;
    height: 60px;
}

.container{
    padding: 0 5vw;
}

.containerHeader{
    padding: 0 5vw;
}

nav{
    font-size: 14px;
    padding-top: 14px;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    padding: 0 12px;
}

.rightBox{
    list-style: none;
    padding: 0 12px;
    display: flex;
}

.profile:hover{
    color: #ea2c7e;
}
.wishlist:hover{
    color: #ea2c7e;
}
.bag:hover{
    color: #ea2c7e;
}


nav ul li,
nav ul li:after,
nav ul li:before {
  transition: all .5s;
}

nav ul li:hover {
  color: #ea2c7e;
  display: block;
}

.h1{
    margin: 2.5vw;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: x-large;
}

.section1{
    background-color: rgb(255, 255, 255);
}

.search{
    width: 34vw;
    padding: 12px 17px;
    border: none;
    background: #f6f4f4;
    border-radius: 3px;
}

.homeImg{
    margin: 12px 0;
    width: 90vw;
}

.itemImg{
    width: 11vw;
    margin: 6px 13px;
}

footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgba(0 0 0 / 24%) 0px 3px 8px;
}

.tall{
    min-height: 40vh;
}

@media (max-width:1000px)  {
    nav{
        flex-direction: column;
        align-items: center;
    }
    .right{
        flex-direction: column;
    }
    nav ul li{
        list-style: none;
        padding: 0 4px;
        font-size: 14px;
    }
    .containerHeader{
        padding: 0 2vw;
    }
}